.aqi-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    background-color: var(--light-text);
    color: var(--text-color);
}

.aqi-table th, .aqi-table td {
    border: 1px solid var(--border-color);
    padding: 10px;
    text-align: center;
}

.aqi-table th {
    background-color: var(--primary-color);
    color: var(--light-text);
    font-weight: bold;
}

.aqi-table tr:nth-child(even) {
    background-color: var(--light-accent);
}

.aqi-table tr:hover {
    background-color: var(--secondary-color);
    color: var(--light-text);
}
